.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Resets */ 

* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body, h1, h2, p, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* ==================
   Typography
===================== */

/* Colours */ 

:root {
  --dark-gray: hsl(0, 0%, 63%); 
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

body {
  background: var(--white);
}

.nav-link {
  color: var(--white);
}

.slide-title, .about-title, .cta-btn {
  color: var(--black);
}

.slide-body, .about-body {
  color: var(--dark-gray);
}

.slide-btn {
  background: var(--black);
}

.prev-btn {
  width: unset;
}

.slide-btn:hover, .slide-btn:focus {
  background: var(--very-dark-gray);
}

/* General */

html {
  font-size: 12px;
}

.nav-link {
  text-transform: lowercase; 
}

.slide-body, .about-body, .nav-link {
  font-weight: 500;
}

.slide-body, .about-body {
  line-height: 1.4;
}

.cta-btn {
  font-weight: 700;
}

.slide-title, .about-title {
  font-weight: 700;
}

.about-title, .cta-text {
  text-transform: uppercase;
}

.about-title, .about-body, .nav-link, .slide-body {
  font-size: 1.3em;
}

.slide-title {
  font-size: 3rem;
}

@media (min-width: 800px) and (max-width: 900px) {
  .slide-title {
    font-size: 1.7rem;
  }
}

@media (min-width: 1252px) {
  .slide-title {
    font-size: 3.7rem;
  }
}
.about-title {
  letter-spacing: 5px;
}

.cta-text {
  font-size: 1.3em;
  letter-spacing: 12px;
}

/* Active States */ 
.mobile-menu, .nav-close-btn, .nav-link, .slide-btn, .cta {
  cursor: pointer;
}



/* ==================
   Layout
===================== */

/* Global */ 

body {
  max-height: 100vh;
  /*overflow: hidden;*/ /* this fucks up mobile */ 
}

.row {
  display: grid;
  grid-template-areas: 
  "hero-img"
  "hero-text"
  "about-img-1"
  "about-text"
  "about-img-2"
}

@media (min-width: 800px) {
  .row {
    grid-template-areas: unset;
    grid-template-columns: unset; 
  }
  .row-1 {
    grid-template-areas: 
      "hero-img hero-text";
    grid-template-columns: 58% 42%; 
    /*grid-template-columns: auto auto; */
  }
  .row-2 {
    grid-template-areas: 
      "about-img-1 about-text about-img-2";
    /*grid-template-columns: 30% auto 30%; */
  }
}


/*
@media (min-width: 800px) {
  .row {
    grid-template-areas: 
      "hero-img hero-img hero-text hero-text"
      "about-img-1 about-text about-text about-img-2";
    grid-template-columns: 30% auto 160px 30%; 
  }
}

@media (min-width: 1660px) {
  .row {
    grid-template-columns: 30% auto auto 30%; 
  }
}*/ 





.img-desktop {
  width: 100%;
  max-height: 621px; 

}

.hero-img {
  /*max-width: 1000px;*/

}

/* widths; 
row 1: 12, 23.5, 28, 40
row 1: 30% 28.75% 11.25% 30%; 
row 1: 30% auto 160px 30%; 
row 2: 30%, 40%, 30%; 

/* Header */

header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4em;
  z-index: 1;
  left: 2em;
  width: 52%;
}

.nav-close-btn {
  display: none;
}

nav {
  display: none;
}

.logo {
  margin-left: auto;
}

@media (min-width: 800px) {
  header {
    width: initial;
    left: 5em;

  }
  .mobile-menu {
    display: none;
  }
  nav {
    display: block;
  };
}

/* Nav */ 

.nav-list {
  display: flex;
}

@media (min-width: 800px) {
  .logo {
    margin-right: 4em;
  }
  .nav-list {
    gap: 2.5em;
  }
}

/* Main */ 

/* Hero Image */ 

.hero-img {
  grid-area: hero-img;
  position: relative;
}

.img-desktop {
  display: none;
}

@media (min-width: 800px) {
  .img-desktop {
    display: block;
  }
  .img-mobile {
    display: none;
  }
}

.slide-2-img, .slide-2-text, .slide-3-img, .slide-3-text {
  display: none;
}

.img-mobile {
  width: 100%;
}

/* Hero Text */ 

.hero-text, .about-text {
  padding: 4em 2.2em 4em 2.5em;
}

.hero-text {
  padding-top: 5em;
  padding-bottom: 5em;
}

.hero-text {
  grid-area: hero-text;
}

@media (min-width: 800px) {
  .hero-text {
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 1015px) {
  .hero-text {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@media (min-width: 1100px) {
  .hero-text {
    padding-left: 6em;
    padding-right: 6em;
  }
}
@media (min-width: 1100px) {
  .hero-text {
    margin-top: -70px;
  }
}

@media (min-width: 1400px) {
  .hero-text {
    padding-left: 8em;
    padding-right: 8em;
  }
}

.slide-btns {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.slide-btn {
  padding: 20px 23px;
  width: 57px;
}

@media (min-width: 800px) {
  .slide-btn {
    padding: 24px 33px;
    width: initial;
  }
}

@media (min-width: 1100px) {
  .slide-btns {
    right: unset;
    left: 100%;
  }
  .slide-btn {
    padding: 24px 33px;
    width: initial;
  }
}

.cta {
  display: flex;
  align-items: center;
  margin-top: 3em;
}

@media (min-width: 800px) and (max-width: 1100px) {
  .cta {
    margin-top: 1.5em;
  }
}

.arrow {
  margin-left: 2em;
}

/* About */ 

.about-img {
  width: 100%;
}

@media (min-width: 800px) {
  .about-img {
    /*width: max-content;*/
    width: 33vw;
  }
}

.about-img-1 {
  background: url(../images/image-about-dark.jpg); 
  grid-area: about-img-1;
}

.about-img-2 {
  background: url(../images/image-about-light.jpg); 
  grid-area: about-img-2;
}

/* grouping these 2 classes needs to be below the above classes, otherwise the background-... won't take effect*/ 
.about-img-1, .about-img-2 {
  min-height: 266px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

@media (min-width: 800px) {
  .about-img-1, .about-img-2 {
    min-height: unset;
  }
}

@media (min-width: 1300px) {
  .about-img-1 {
    height: 266px;
    width: 420px;
  }
  
  .about-img-2 {
    height: 266px;
    width: 440px;
  }
}

.about-text {
  grid-area: about-text;
}

@media (min-width: 1200px) {
  .about-text {
    padding-left: 3.5em;
    padding-right: 3.2em;
    margin-top: 1em;
  }
  .about-title {
    font-size: 1.6em;
  }
}

.slide-body, .about-body {
  margin-top: 1.5em;
}

main {
  height: 100vh;
}

.row-1 {
  /*height: 68%;*/
}
.row-2 {
  height: 32%;
}